body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background: #ffffff;
    overflow-x: hidden;
    font-size: 14px;
  }
  
  body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible;
  }
  
  
  
  .btn {
    font-size: 14px;
  }
  
  .btn:active,
  .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  
  
  /* Add this CSS to your stylesheets */
  
  
  
  .dropdown-menu {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: #fff;
  }
  
  .dropdown-item {
    color: #333;
    padding: 0.75rem;
    transition: background-color 0.3s;
    border-bottom: 1px solid #e5e5e5;
  }
  .dropdown-item:hover {
    background-color: #f8f9fa;
    /* Add a subtle background color on hover */
    color: #007bff;
    /* Change text color on hover */
  }
  
  .text-white-opacity {
    opacity: 0.7;
  }
  
  .form-control,
  .custom-select {
    border: 2px solid #e9ecef;
    font-size: 16px;
    height: 45px;
  }
  
  .form-control:active,
  .form-control:focus,
  .custom-select:active,
  .custom-select:focus {
    border-color: #1a374d;
    -webkit-box-shadow: none;
    box-shadow: none;
  }



.gutter-v1 {
  margin-right: -20px;
  margin-left: -20px;
}

.carousel-item {
  height: 500px;
}

@media (max-width: 991.98px) {
  .gutter-v1 {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.gutter-v1>.col,
.gutter-v1>[class*="col-"] {
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 991.98px) {

  .gutter-v1>.col,
  .gutter-v1>[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.gutter-v2 {
  margin-right: -5px;
  margin-left: -5px;
}

@media (max-width: 991.98px) {
  .gutter-v2 {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.gutter-v2>.col,
.gutter-v2>[class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

@media (max-width: 991.98px) {

  .gutter-v2>.col,
  .gutter-v2>[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.spinner-border {
  color: #1a374d;
}

/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.position-relative {
  position: relative;
}

.logo {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.logo:hover {
  color: #ffffff;
}

.site-nav {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
}

.site-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-nav h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.site-nav .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-nav .site-navigation .site-menu>li {
  display: inline-block;
}


.site-nav .site-navigation .site-menu>li>a {
  font-size: 14px;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.7);
}

.site-nav .site-navigation .site-menu>li>a:hover {
  color: #ffffff;
}

.site-nav .site-navigation .site-menu>li.cta-button a {
  padding: 6px 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: #000000;
  border-radius: 30px;
}

.site-nav .site-navigation .site-menu>li.cta-button a:hover {
  color: #000000;
  background: #1a374d;
  border-color: #1a374d;
}

.site-nav .site-navigation .site-menu>li.active>a {
  color: #ffffff;
}

.site-nav .site-navigation .site-menu .has-children {
  position: relative;
}

.site-nav .site-navigation .site-menu .has-children>a {
  position: relative;
  padding-right: 20px;
}

.site-nav .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\e313";
  font-size: 14px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}

.site-nav .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  z-index: 999;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #ffffff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.site-nav .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000000;
}

.site-nav .site-navigation .site-menu .has-children .dropdown .active a {
  color: #1a374d !important;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 5px 20px;
  display: block;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  color: #1a374d;
}

.site-nav .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}