body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background: #ffffff;
    overflow-x: hidden;
    font-size: 14px;
  }
  
  body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible;
  }
  
  
  
  .btn {
    font-size: 14px;
  }
  
  .btn:active,
  .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  
  
  /* Add this CSS to your stylesheets */
  
  
  
  .dropdown-menu {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: #fff;
  }
  
  .dropdown-item {
    color: #333;
    padding: 0.75rem;
    transition: background-color 0.3s;
    border-bottom: 1px solid #e5e5e5;
  }
  .dropdown-item:hover {
    background-color: #f8f9fa;
    /* Add a subtle background color on hover */
    color: #007bff;
    /* Change text color on hover */
  }
  
  .text-white-opacity {
    opacity: 0.7;
  }
  
  .form-control,
  .custom-select {
    border: 2px solid #e9ecef;
    font-size: 16px;
    height: 45px;
  }
  
  .form-control:active,
  .form-control:focus,
  .custom-select:active,
  .custom-select:focus {
    border-color: #1a374d;
    -webkit-box-shadow: none;
    box-shadow: none;
  }